*{
    padding:0;
    margin: 0;
}
dl{
    width: 90%;
    height: 100px;
    display: flex;
}
dl dt{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
dl dt img{
    width: 70px;
    height: 70px;
    display: inline-block;
}
dl dd{
    width: 60%;
    height: 100%;
}