*{
    padding: 0;
    margin: 0;
}
.add{
    position: absolute;
    right:30px;
    top:65px;
}

ul {
    width: 90%;
    height: auto;
    margin: 5%;
    list-style: none;
    display: flex;
}

ul li{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #eee;
    border-radius: 5px;
    text-align: center;
    color: #777;
    margin: 5px;
}
ul li span{
    margin-left: 20px;

}