*{
    padding: 0;
    margin: 0;
}

#box{
    width: 60px;
    height: 70px;
    margin: 3%;
    display: inline-block;
}


#box img{
    width: 50px;
    height: 40px;
    display: inline-block;
}
#box span {
    width: 50px;
    height: 40px;
    display: inline-block;
    text-align: center;
}